# Ignore node_modules from both frontend and backend
**/node_modules/

# Ignore env files
**/.env

# Logs
**/logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build artifacts (optional)
frontend/build/

# Lock files
**/package-lock.json
